@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome ASP NET CORE</h1>
    <h2>cod_ter: @Model.tercero.cod_ter</h2>
    <h2>nom_ter: @Model.tercero.nom_ter</h2>
    <h2>tel1: @Model.tercero.tel1</h2>
    <h2>cel1: @Model.tercero.cel1</h2>
    <h2>email: @Model.tercero.email</h2>
</div>
