@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>    
    <h2>cod_ter: @Model.cod_ter</h2>    
    <h2>nom_ter: @Model.nom_ter</h2>    
    <h2>tel1: @Model.tel1</h2>    
    <h2>cel1: @Model.cel1</h2>    
    <h2>email: @Model.email</h2>    
</div>
